@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html,body{
  height:100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color:#222;
  background-color: black;
}

.nav-link{
  cursor: pointer;
}

.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/homepage-background-darkest.jpg");
  text-align: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 8px #66757f;
  color: #fff;
  padding: 1rem;
}

 
/* .home-hero-content{
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 8px #66757f;
  color: #fff;
  padding: 1rem;
} */


.btn{
  margin-top:1rem;
}

.btn-primary {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-primary:focus, .btn-primary:hover {
  color: black;
  border: 1px solid black;
  outline: none;
  background-color: #42DCA3;
}

.fragrance-item{
  color:black;
}
 
.card-body{
  text-align: center;
}

.comment-form{
  border:2px solid #ddd;
  padding-top:30px;
}

 
.underline{width: 100px; height: 2px; background-color: white;}

#main-nav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  letter-spacing: 1px;
  border-bottom: none;
  background: transparent;
}
#main-nav.navbar-shrink {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: black;
}
#main-nav .nav-link.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}
#main-nav .nav-link.active:hover {
  color: white;
}

#main-nav a {
  color: white;
}

#page-header{
  display:table;
  width:100vw;
  height:100vh;
  padding:150px 0;
  text-align:center;
  color:white;
  background:url('./images/black-and-white-clouds-dark.jpg') no-repeat bottom center scroll;
  background-color:black;
  background-size:cover;
  text-shadow: 0 5px 10px black;
}

#page-header .cell {
  display:table-cell;
  vertical-align:middle;
}

#page-header .header-heading{
  font-size:40px;
}

#page-header .header-text{
  font-size:1.1em;
}

#main-nav .navbar-toggler{
  color:white;
}

.fa-connectdevelop, .fa-clock, .fa-database{
  font-size:4em;
  color:#42dca3;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.fa-facebook-f, .fa-youtube, .fa-twitter{
  font-size:2em;
  margin:2px;
  color:grey;
}


ul.social-buttons{
  padding:0;
}

 .fa-youtube:hover{
   color:#cd201f;
 }

 .fa-twitter:hover{
   color:#1ab7ea;
 }
 
 .fa-facebook-f:hover{
   color:#3b5999;
 }

 .text-muted-alien{
  color:#42dca3;
 }

 .comment-box{
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-left: 100px;
  min-height: 60px;
  position: relative;
  padding: 15px;  
  margin:3px;
  background-color: #fcfcfc;
 }

 .comment-box .close-symbol{
   display:none;
   font-size:1em;
 }

 .comment-box:hover .close-symbol{
   display:inline-block;
 }

.comment img{
  max-width:100px;
  height:auto;
  display:block;
}

.mt-120{
  margin-top:120px;
}

.fragrance-item{
  position:relative;
  display:block;
  max-width: 25rem;
  border:1px solid grey;
}

.fragrance-item .fragrance-item-caption{
  transition: all ease 0.5s;
  opacity:0;
  background-color:black;
}

.fragrance-item .fragrance-item-caption:hover{ 
  opacity:0.94;
}

.fragrance-item-caption-content{
  font-size: 30px;
}