ul.nav.navbar-nav li {
  margin: 0 0.8rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar{
  background: #111111;
  color:#ffffff;
}

.navbar-header{
  text-align: center;
}

body{
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color:white;
}